<!doctype html>
<html lang="en" ng-app="demo" ng-controller="DemoCtrl">
<head>
  <meta charset="utf-8">
  <title>Client-side Google Calendar API demo</title>
</head>
<body>
This page tests the usability of Google Calendar as a data source.
<div>
  <div>
    <select ng-model="calendar" ng-options="option.name for option in calendars" ng-change="loadEvents()"></select>
    {{calendarId}}
    <div ng-hide="fetchSucceeded">
      Error fetching data.
      <button ng-click="loadEvents()">Try again</button>
    </div>
  </div>

  <ul>
    <li ng-repeat="item in calendarItems" title="{{item}}">
      {{item.summary}}
      <ul>
        <li>Date: {{item.start.date || item.start.dateTime | date}}</li>
        <li>Location: {{item.organizer.displayName}}</li>
      </ul>
    </li>
  </ul>
</div>

<script src="vendor/angular.js"></script>

<script src="src/angular-googleapi.js"></script>
<script src="controllers.js"></script>
<script src="https://apis.google.com/js/client.js"></script>
</body>
</html>
